*{
    padding: 0;
    margin: 0;
}
.container{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    margin: 200px;
}
img{
    height: 290px;
    width: 290px;
    filter: blur(10px);
}
img:hover{
    filter:brightness(100%);
}