* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: #dce7fd;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
    color: rgb(106, 122, 245);
    padding-top: 10px;
}

p {
    text-align: center;
    padding-top: 5px;
    color: grey;

}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    width: 300px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 20px;



}

.card img {
    height: 150px;
    width: 270px;
    border-radius: 10px;
    margin-top: 10px;

}

.card h3 {
    margin-top: 10px;
    color: rgb(106, 122, 245);

}

.card p {
    margin-right: 160px;
    margin-top: 20px;

}

.card h4 {
    margin-right: 230px;
    margin-top: 10px;
    margin-bottom: 20px;

}